<div>

	<h2>{{ page }}</h2>

	<hr />

	<h4>List of apps</h4>

	<br />

	<div class="row">
		<div class="col">
			<div class="card" style="width: 20rem;">
				<div class="card-body">
					<h4 class="card-title">Shopping List</h4>
					<h6 class="card-subtitle mb-2 text-muted">Next: Store data somewhere</h6>
					<p class="card-text">Add, remove and mark items in your shopping list.</p>
					<a href="#!/shoppinglist" class="card-link">Go to App</a>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card" style="width: 20rem;">
				<div class="card-body">
					<h4 class="card-title">Weather</h4>
					<h6 class="card-subtitle mb-2 text-muted">Next: Include forecast, graphs, maps</h6>
					<p class="card-text">Display current weather conditions for any city.</p>
					<a href="#!/weather" class="card-link">Go to App</a>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card" style="width: 20rem;">
				<div class="card-body">
					<h4 class="card-title">Movie Explorer</h4>
					<h6 class="card-subtitle mb-2 text-muted">Complete</h6>
					<p class="card-text">Search for movies and view details of any movie in the list.</p>
					<a href="#!/movies-explorer" class="card-link">Go to App</a>
				</div>
			</div>
		</div>
	</div>

	<br />

</div>